{% extends 'base.html.twig' %}

{% block title %}Modifier une Annonce (ESPACE MEMBRE){% endblock %}

{% block body %}
    <h1>Modifier Annonce</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Enregistrer Vos Modifications') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('member') }}">Retour à l'espace membre</a>
 
{% endblock %}
