{% extends 'base.html.twig' %}

{% block title %}Espace Membre{% endblock %}

{% block body %}

<section>
    <h2>formulaire de creation d'annonces</h2>

    {{ include('annonce/_form.html.twig') }}

</section>

<section>
    <h2>affichage de la liste des annonces</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Url</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Categorie</th>
                <th>DatePublication</th>
                <th>update</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.titre }}</td>
                <td>{{ annonce.url }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.photo }}</td>
                <td>{{ annonce.categorie }}</td>
                <td>{{ annonce.datePublication ? annonce.datePublication|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('annonce_edit_member', {'id': annonce.id}) }}">edit</a>
                </td>
                <td>
                    <form method="post" action="{{ path('annonce_delete_member', {'id': annonce.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.id) }}">
                        <button class="btn">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</section>

{% endblock %}
