{% extends 'base.html.twig' %}

{% block title %}PAGE ANNONCES{% endblock %}


{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block body %}

<section class="container">
    <h2>Liste des annonces</h2>

    <div class="row">
        {% for annonce in annonces %}
            <article class="p-2 pb-5 col-12 col-md-6 col-lg-4 annonce-{{ annonce.id }}">
                <div class="badge bg-info">{{ annonce.categorie }}</div>
                <h4 class="pt-2 pb-2"><a href="{{ path('annonce', { 'id' : annonce.id }) }}">{{ annonce.titre }}</a></h4>
                <h6 title="user id: ({{ annonce.user.id ?? 'vide' }})">publié par: {{ annonce.user.pseudo ?? '(vide)' }}</h6>
                <p>{{ annonce.description }}</p>
                <div><img class="img-fluid" src="{{ asset('uploads/' ~ annonce.photo ) }}"></div>
                <div>publié le: {{ annonce.datePublication ? annonce.datePublication|date('d/m/Y') : '' }}</div>
            </article>
        {% else %}
            <article>
                <td colspan="8">no records found</td>
            </article>
        {% endfor %}
    </div>
</section>

<section class="container-fluid">
    <img class="img-fluid" src="{{ asset('assets/img/article2.jpg') }}" alt="article2">
</section>

{% endblock %}

{% block javascripts %}

<script></script>

{% endblock %}

