{% extends 'base.html.twig' %}

{% block title %}PAGE ANNONCES{% endblock %}


{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block body %}

<section class="container">
    <h4>utilisateur connecté</h4>
    <div>pseudo: {{ app.user.pseudo ?? 'non connecté'}}</div>
    <div>id: {{ app.user.id ?? 'non connecté'}}</div>
</section>

<section class="container">
    <h2>Liste des annonces</h2>

    <div class="row">
        {% for annonce in annonces %}
            <article class="p-2 pb-5 col-12 col-md-6 col-lg-4">
                <div>{{ annonce.id }}</div>
                <h4 class="pt-2 pb-2"><a href="{{ path('annonce', { 'id' : annonce.id }) }}">{{ annonce.titre }}</a></h4>
                <h6>publié par: {{ annonce.user.pseudo ?? '(vide)' }} ({{ annonce.user.id ?? 'vide' }})</h6>
                <div>{{ annonce.url }}</div>
                <p>{{ annonce.description }}</p>
                <div><img class="img-fluid" src="{{ asset('uploads/' ~ annonce.photo ) }}"></div>
                <div>{{ annonce.categorie }}</div>
                <div>{{ annonce.datePublication ? annonce.datePublication|date('Y-m-d H:i:s') : '' }}</div>
            </article>
        {% else %}
            <article>
                <td colspan="8">no records found</td>
            </article>
        {% endfor %}
    </div>
</section>

<section class="container-fluid">
    <img class="img-fluid" src="{{ asset('assets/img/article2.jpg') }}" alt="article2">
</section>

{% endblock %}

{% block javascripts %}

<script></script>

{% endblock %}

