{% extends 'base.html.twig' %}

{% block title %}PAGE ANNONCES{% endblock %}


{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block body %}

<section class="container">

    <div class="row ">
        <article class="p-2 pb-5 col-12 col-md-6 annonce-{{ annonce.id }}">
            <div class="badge bg-info">{{ annonce.categorie }}</div>
            <h4 class="pt-2 pb-2"><a href="{{ path('annonce', { 'id' : annonce.id }) }}">{{ annonce.titre }}</a></h4>
            <h6 title="user id: ({{ annonce.user.id ?? 'vide' }})">publié par: {{ annonce.user.pseudo ?? '(vide)' }}</h6>
            <p>{{ annonce.description }}</p>
            <div class="badge badge-secondary p-2">publié le: {{ annonce.datePublication ? annonce.datePublication|date('d/m/Y') : '' }}</div>
        </article>
        <div class="col-12 col-md-6">
            <img class="img-fluid" src="{{ asset('uploads/' ~ annonce.photo ) }}">
        </div>
    </div>
</section>

<section class="container-fluid">
    <img class="img-fluid" src="{{ asset('assets/img/article2.jpg') }}" alt="article2">
</section>

{% endblock %}

{% block javascripts %}

<script></script>

{% endblock %}

